.profile-main-container {
  display: flex;
  gap: 60px;
}
.profile-menubar-content {
  width: 25%;
}

.profile-nav-content {
  width: 100%;
  padding-right: 50px;
}

.bottom-nav-hr-line {
  margin-top: 20px;
  color: gray;
}

.profile-horizontal-line {
  width: 1px;
  height: 700px;
  background-color: gray;
  margin-top: 20px;
}

.profile-summery-container {
  margin-left: 25px;
}

.profile-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 80px;
}

.profile-summery-container > h2 {
  color: #545454;
  margin-left: 80px;
}
.profile-summery-container .profile-info-summery-Grid-container {
  width: 350px;
  text-align: center;
  height: 50px;
}

.profile-info-summery-Grid-container .profile-info-username {
  color: #b2a1a1;
  font-size: 18px;
  font-weight: 600;
}

.profile-info-summery-Grid-container .profile-info-divider {
  margin-top: 20px;
}

.profile-info-summery-Grid-container .profile-summery-span {
  color: #545454;
  font-size: 20px;
  font-weight: 500;
}

.profile-summery-container-hr {
  width: 250px;
  color: #545454;
}

.profile-map-lat-lng {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.profile-map-lat-lng > p {
  color: #b2a1a1;
  font-size: 18px;
}

.comming-soon-div {
  width: 400px;
  margin: auto;
  margin-top: 200px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 700px;
}

.comming-soon-div img {
  width: 300px;
}

.chat-accordian {
  width: 300px;
  position: absolute;
  right: 40px;
  margin-top: 20px;
  border-radius: 15px;
}

.online-user-image {
  width: 40px;
  height: 30px;
  border-radius: 50%;
}

.online-user-name {
  margin-top: 3px;
}

.online-user-status {
  width: 8px;
  height: 8px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-top: 5px;
}

.accordian-main-container .accordian-heading {
  background-color: #2c65c8;
  border-radius: 15px;
}

.accordian-text {
  color: #ffff;
  font-weight: 500;
  font-size: 20px;
}

.chat-icon {
  color: white;
  margin-top: 7px;
}

.profile-map-div {
  margin-top: 20px;
}

.address-info-container > h2 {
  color: #545454;
}

.profile-summery-span {
  color: #545454;
  font-size: 20px;
  font-weight: 500;
}

.profile-address-summery-Grid-container .profile-address-info {
  color: #b2a1a1;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 500;
}

.address-info-container .profile-address-summery-Grid-container {
  width: 350px;
  text-align: center;
  height: 40px;
}

.profile-address-summery-Grid-container .profile-info-divider {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .profile-image {
    width: 170px;
    height: 170px;
    margin-left: 70px;
  }
  .profile-summery-container > h2 {
    margin-left: 70px;
  }
  .profile-summery-container .profile-info-summery-Grid-container {
    width: 280px;
  }

  .chat-accordian {
    width: 250px;
  }
  .address-info-container .profile-address-summery-Grid-container {
    width: 300px;
    text-align: center;
    height: 40px;
  }
}
