.menubar-main-container {
  width: 90%;
  background-color: #3d58c8;
  margin: 100px 0px 100px 60px;
  height: 800px;
  border-radius: 30px;
}

.menubar-container {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.menubar-route-text {
  font-size: 20px;
  font-weight: 500;
  color: #a2a1e3;
  text-decoration-line: none;
}
.menubar-horizontal-line {
  width: 180%;
}

.menubar-with-arrow-icon {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .menubar-horizontal-line {
    width: 150%;
  }
  .menubar-main-container {
    margin: 80px 0px 100px 60px;
    height: 850px;
  }
}
